openapi: 3.0.3
info:
  version: 1.0.0
  termsOfService: https://termofservice.it
  title: openapi BFHD project
  description: API description for backend for helpdesk project
  x-summary: OpenAPI servizi helpdesk pn
  x-api-id: api-helpdesk-pn
  contact:
    email: pn@pagopa.it
  license:
    name: Licenza di PN
    url: 'https://da-definire/'
servers:
  - url: https://api.backoffice.pn.pagopa.it
    description: Production environment
  - url: https://api.backoffice.uat.pn.pagopa.it
    description: Test environment
  - url: https://api.backoffice.dev.pn.pagopa.it
    description: Development environment
tags:
  - name: persons
    description: Operations about a person
  - name: logs
    description: Operations about logs and extractions
  - name: status
    description: Operations about application status
  - name: downtime
    description: Operations about PN functionalities monitoring

paths:
  '/bfhd/logs/v1/notifications/info':
    post:
      tags:
        - logs
      x-api-permissions:
        - 'log-extract-read'
      security:                                                                # ONLY EXTERNAL
        - bearerAuth: [ ]
      operationId: notificationInfoLogs
      x-pagopa-lambda-name: pn-notificationWrapper
      x-pagopa-lambda-account: core            
      description: >-
        Download the logs archive containing the full info of a notification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationInfoRequestDto'
      responses:
        '200':
          description: The operation has been successfully completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationInfoResponseDto'
        '400':
          description: Errors during the request validation
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Errors during the request elaboration
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
components:
  schemas:
    NotificationInfoRequestDto:
      type: object
      required:
        - ticketsNumber
        - iuns
      properties:
        ticketsNumber:
          type: array
          items:
            type: string
        iuns:
          type: array
          items:
            type: string
            minLength: 25
            maxLength: 25

    NotificationInfoResponseDto:
      title: Notification Info Response Data Model
      type: object
      properties:
        abstract:
          type: string
        paProtocolNumber:
          type: string
        subject:
          type: string
        recipients:
          type: array
          items:
            $ref: '#/components/schemas/Recipient'
        documents:
          oneOf:
            - type: array
              items:
                $ref: '#/components/schemas/Document'
            - type: array
              items:
                type: string
              description: "Array di stringhe nel caso in cui i documenti siano stati cancellati (es. errore 410 da SafeStorage)"
        notificationFeePolicy:
          type: string
        physicalCommunicationType:
          type: string
        senderDenomination:
          type: string
        senderTaxId:
          type: string
        group:
          type: string
        taxonomyCode:
          type: string
        paFee:
          type: number
        vat:
          type: number
        pagoPaIntMode:
          type: string
        additionalLanguages:
          type: array
          items:
            type: string
        senderPaId:
          type: string
        iun:
          type: string
        sentAt:
          type: string
          format: date-time
        documentsAvailable:
          type: boolean
        notificationStatus:
          type: string
        notificationStatusHistory:
          type: array
          items:
            $ref: '#/components/schemas/NotificationStatusHistory'
        timeline:
          type: array
          items:
            $ref: '#/components/schemas/TimelineElement'
      required:
        - paProtocolNumber
        - subject
        - recipients
        - documents
        - notificationFeePolicy
        - physicalCommunicationType
        - senderDenomination
        - senderTaxId
        - taxonomyCode
        - paFee
        - vat
        - pagoPaIntMode
        - additionalLanguages
        - senderPaId
        - iun
        - sentAt
        - documentsAvailable
        - notificationStatus
        - notificationStatusHistory
        - timeline

    Recipient:
      type: object
      description: "Tipo di destinatario: Persona Fisica (PF) o Persona Giuridica (PG)"
      properties:
        recipientType:
          type: string
          enum:
            - PF
            - PG
        taxId:
          type: string
          description: "Codice Fiscale o Partita IVA del destinatario"
        denomination:
          type: string
          description: "Nome e cognome o ragione sociale"
        physicalAddress:
          $ref: '#/components/schemas/PhysicalAddress'
        payments:
          type: array
          items:
            $ref: '#/components/schemas/Payment'
        timeline:
          type: array
          items:
            $ref: '#/components/schemas/TimelineElement'
      required:
        - recipientType
        - taxId
        - denomination
        - physicalAddress
        - timeline

    Payment:
      type: object
      properties:
        pagoPa:
          $ref: '#/components/schemas/PagoPa'

    PagoPa:
      type: object
      properties:
        noticeCode:
          type: string
          description: "Codice di avviso di pagamento (IUV)"
        creditorTaxId:
          type: string
          description: "Codice fiscale dell'ente creditore"
        applyCost:
          type: boolean
          description: "Indica se applicare i costi di notifica/pagamento"
        attachment:
          $ref: '#/components/schemas/Attachment'
      required:
        - noticeCode
        - creditorTaxId
        - applyCost

    Attachment:
      type: object
      properties:
        digests:
          $ref: '#/components/schemas/Digest'
        contentType:
          type: string
          description: "Tipo MIME del file (es. application/pdf)"
        ref:
          $ref: '#/components/schemas/Ref'
      required:
        - digests
        - contentType
        - ref

    Ref:
      type: object
      properties:
        key:
          type: string
          description: "La chiave identificativa del file o del documento"
        versionToken:
          type: string
          description: "Il token di versione associato al file"
      required:
        - key
        - versionToken

    PhysicalAddress:
      type: object
      properties:
        at:
          type: string
          description: "Presso / C/O (es. Nome sul citofono)"
        address:
          type: string
          description: "Indirizzo completo (via, piazza, numero civico)"
        addressDetails:
          type: string
          description: "Dettagli aggiuntivi dell'indirizzo (es. Scala, Piano)"
        zip:
          type: string
          description: "Codice di avviamento postale (CAP)"
        municipality:
          type: string
          description: "Comune o località"
        municipalityDetails:
          type: string
          description: "Dettagli aggiuntivi del comune (es. Frazione)"
        province:
          type: string
          description: "Sigla della provincia (es. RM, MI)"
        foreignState:
          type: string
          description: "Stato estero (se applicabile)"
      required:
        - address
        - zip
        - municipality
        - province

    LegalFact:
      type: object
      properties:
        key:
          type: string
          description: "La chiave identificativa del fatto legale (es. file key o ID)"
        category:
          type: string
          description: "La categoria dell'atto o del fatto legale"
      required:
        - key
        - category

    Document:
      type: object
      properties:
        ref:
          type: object
          properties:
            key:
              type: string
        safeStorage:
          type: object

    NotificationStatusHistory:
      type: object
      properties:
        status:
          type: string
        updatedAt:
          type: string
          format: date-time

    TimelineDetails:
      type: object
      properties:
        recIndex:
          type: integer
        notificationRequestId:
          type: string
        paProtocolNumber:
          type: string
        legalFactId:
          type: string
        physicalAddress:
          $ref: '#/components/schemas/PhysicalAddress'
        digitalAddressSource:
          type: string
        isAvailable:
          type: boolean
        attemptDate:
          type: string
          format: date-time
        deliveryMode:
          type: string
        contactPhase:
          type: string
        sentAttemptMade:
          type: integer
        sendDate:
          oneOf:
            - type: integer
            - type: string
              format: date-time
        digitalAddress:
          type: object
          properties:
            type:
              type: string
            address:
              type: string
        schedulingAnalogDate:
          type: string
          format: date-time
        schedulingDate:
          type: string
          format: date-time
        serviceLevel:
          type: string
        notificationDate:
          type: string
          format: date-time
        deliveryDetailCode:
          type: string
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/TimelineAttachment'
        sendRequestId:
          type: string
        registeredLetterCode:
          type: string
        responseStatus:
          type: string
        eventTimestamp:
          type: string
          format: date-time
        notificationCost:
          type: number
        numberOfPages:
          type: integer
        aarKey:
          type: string
        generatedAarUrl:
          type: string
          format: uri
        oldAddress:
          $ref: '#/components/schemas/PhysicalAddress'
        normalizedAddress:
          $ref: '#/components/schemas/PhysicalAddress'
        productType:
          type: string
        analogCost:
          type: number
        envelopeWeight:
          type: number
        prepareRequestId:
          type: string
        deliveryFailureCause:
          type: string
        ioSendMessageResult:
          type: string
      required:
        - deliveryFailureCause
        - ioSendMessageResult

    TimelineElement:
      type: object
      properties:
        elementId:
          type: string
        timestamp:
          type: string
          format: date-time
        ingestionTimestamp:
          type: string
          format: date-time
        eventTimestamp:
          type: string
          format: date-time
        notificationSentAt:
          type: string
          format: date-time
        legalFactsIds:
          type: array
          items:
            $ref: '#/components/schemas/LegalFact'
        category:
          type: string
        details:
          $ref: '#/components/schemas/TimelineDetails'
      required:
        - elementId
        - timestamp
        - ingestionTimestamp
        - eventTimestamp
        - notificationSentAt
        - legalFactsIds
        - category
        - details

    TimelineAttachment:
      type: object
      properties:
        id:
          type: string
          description: "Identificativo univoco dell'allegato"
        documentType:
          type: string
          description: "Tipo di documento allegato"
        url:
          type: string
          format: uri
          description: "URL per il download o la visualizzazione dell'allegato"
        date:
          type: string
          format: date-time
          description: "Data associata all'allegato"
      required:
        - id
        - documentType
        - url
        - date

    ProblemError:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      required:
        - code
        - message

    Problem:
      type: object
      properties:
        type:
          description: URI reference of type definition
          type: string
        status:
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
          type: integer
          format: int32
          example: 503
          maximum: 600
          minimum: 100
          exclusiveMaximum: true
        title:
          description: A short, summary of the problem type. Written in english and readable
          example: Service Unavailable
          maxLength: 64
          pattern: '^[ -~]{0,64}$'
          type: string
        detail:
          description: A human readable explanation of the problem.
          example: Request took too long to complete.
          maxLength: 4096
          pattern: '^.{0,4096}$'
          type: string
        traceId:
          description: Internal support identifier associated to error
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
        timestamp:
          description: date and time referred to UTC
          example: 2022-07-27T12:22:33.444Z
          type: string
          format: date-time
        errors:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ProblemError'
      required:
        - status
        - errors

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - bearerAuth: []



